node_modules
**/node_modules
dist
**/dist
build
**/build
.next
**/.next
.pnpm-store
**/.pnpm-store
.turbo
**/.turbo
coverage
**/coverage
.git
.gitignore
.vscode
*.log
**/*.log
.env
.env.*
!**/.env.example
data
**/data

